<ion-view view-title="History">
  <ion-content>
    <div class="list">
      <a class="item item-custom item-button-right item-icon-right" ng-click="goToChangeCoin()">
        <div class="row">
          <div class="col">
            Change Coin
          </div>
        </div>
        <i class="icon ion-ios-arrow-right"></i>  
      </a>
      <a class="item item-custom item-button-right item-icon-right" ng-click="goToKeepCoin()">
        <div class="row">
          <div class="col">
            Keep Coin
          </div>
        </div>
        <i class="icon ion-ios-arrow-right"></i>  
      </a>
    </div>
  </ion-content>
</ion-view>
