<ion-view view-title hide-nav-bar="true">
  <ion-content class="margin">
      <div class="text-center">
        <img class="login-logo" src="img/qrcode.png" alt="logo_app">
      </div>
        <div class="list list-inset login-form">
            <label class="item item-input">
                <input ng-model="login.username" type="text" placeholder="Username">
            </label>
            <label class="item item-input">
                <input ng-model="login.password" type="password" placeholder="Password">
            </label>
            <button class="button button-block button-balanced" ng-click="doLogin(login)">
                Login
            </button>
        </div>
  </ion-content>
</ion-view>
