<ion-view ng-init="initKeepCoinList()" view-title="Keep Coin" cache-view="false">
  <ion-content>
     <div class="list">
      <a class="item item-custom item-icon-right" ng-click="goToKeepDetail(item.month)" ng-if="item.total > 0" ng-repeat="item in keepCoinList">
        <div class="row">
          <div class="col col-50">
            {{parseDate(item.month) | date:'MMM yyyy'}}
          </div>
          <div class="col col-50 text-right col-right">
            <i class="icon ion-checkmark-circled history-icon-list icon-pass keep-icon" ng-if="item.status !== ''"></i>
            <i class="icon ion-android-cancel history-icon-list icon-cancel keep-icon" ng-if="item.status === ''"></i>                
          </div>
        </div>
        <div class=" row">
          <div class="col col-50">
            Total
          </div>
          <div class="col col-50 text-right col-right">
            {{item.total | number}}฿
          </div>
        </div>
        <div class="row">
          <div class="col col-50">
            Receive
          </div>
          <div class="col col-50 text-right col-right">
            {{item.receive | number}}฿
          </div>
        </div>
        <i class="icon ion-ios-arrow-right"></i>  
      </a></div>
    
  </ion-content>
</ion-view>
