/* Empty. Add your own CSS if you like */

[nav-bar-transition="android"] [nav-bar="active"] .bar,
[nav-bar-transition="android"] [nav-bar="entering"] .bar {
    background: #2ac9aa;
}

[nav-bar-transition="ios"] [nav-bar="active"] .bar,
[nav-bar-transition="ios"] [nav-bar="entering"] .bar {
    background: #2ac9aa;
}

.bar.bar-stable {
    border-color: #2ac9aa;
    background-color: #2ac9aa;
    background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
    color: #444;
}

.menu-content {
    border-color: #2ac9aa;
    background-color: #2ac9aa;
}


/*ion-content {
    margin-top: 45px !important;
}*/

.tabs-striped.tabs-color-positive .tab-item {
    color: rgb(42, 201, 170);
    opacity: 1;
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
    display: none;
}

.bar.bar-stable .title {
    color: #ffffff;
}

.bar-stable .button.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #ffffff;
    font-size: 17px;
}

.loading-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-transition: 0.2s opacity linear;
    transition: 0.2s opacity linear;
    visibility: hidden;
    opacity: 0;
}


/* etc. */

.margin {
    margin: 38px 0px 0px 0px;
}

.tabs-striped.tabs-color-positive .tab-item.tab-item-active,
.tabs-striped.tabs-color-positive .tab-item.active,
.tabs-striped.tabs-color-positive .tab-item.activated {
    margin-top: -2px;
    color: #2ac9aa;
    border: 0 solid #2ac9aa;
    border-top-width: 2px;
}

.bar.bar-scan {
    border-color: #2ac9aa;
    background-color: #2ac9aa;
    background-image: linear-gradient(0deg, #2ac9aa, #2ac9aa 50%, transparent 50%);
    color: #2ac9aa;
}

.btn-scan {
    background-color: #24ab90;
    color: #ffffff;
}

.title-scan {
    color: #ffffff;
}

.icon-scan {
    font-size: 30px;
}

.scan-type {
    margin: auto;
    width: 100%;
    padding: 10px;
}

.margin-scanon {
    margin-top: 90%
}

.scroll-scanlist-shot {
    height: 18% !important;
}

.scroll-scanlist-full {
    height: 60%!important;
}

.item-thumbnail-custom {
    min-height: 50px !important;
    padding-left: 80px!important;
    padding-top: 13px!important;
}

.image-thumbnail {
    height: 50px !important;
    width: 50px !important;
    top: 8px!important;
}

.history-icon-list {
    right: 60px !important;
}

.col-right {
    margin-right: 10px;
}

.icon-pass {
    color: #4CAF50;
}

.icon-cancel {
    color: #f44336;
}

.item-custom {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

.badge.badge-assertive {
    background-color: #ef473a;
    color: #fff;
    position: absolute;
}

.login-form {
    top: 10%;
}

.login-logo {
    margin-top: 50px;
}

.full-image-custom {
    width: 100%;
    /*height: 70%;*/
}

.change-coin-detail {
    font-size: 25px !important;
    margin-left: 20px;
}

.button.active,
.button.activated {
    border-color: #20a087;
    background-color: #20a087;
    color: #ffffff;
}

.button:hover {
    color: #ffffff;
    text-decoration: none;
}

.icon-fail {
    right: 85px !important;
}

.keep-icon {
    margin-left: 90px;
    margin-top: -30px;
    right: 40px !important;
}

.item-icon-right {
    padding-right: 34px;
}

.item-menu {
    color: #ffffff !important;
    border: none;
    -webkit-transform: none;
    transform: none;
    box-shadow: -1px 0px 2px rgb(42, 201, 170), 1px 0px 2px rgb(42, 201, 170);
}